################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs
/ESTDesktop.Web.Host/obj/
/ESTDesktop.Web.Host/bin/

/ESTDesktop.EntityFrameworkCore/obj/
/ESTDesktop.EntityFrameworkCore/bin/


/ESTDesktop.Core/obj/
/ESTDesktop.Core/bin/

/ESTDesktop.Service/obj/
/ESTDesktop.Service/bin/

/ESTDesktop.AppForm/obj/
/ESTDesktop.AppForm/bin/


/ESTDesktop.AppView/obj/
/ESTDesktop.AppView/bin/

